In [11]:
import pandas as pd
import numpy as np

In [12]:
airquality = pd.read_csv("airquality.csv")
sites = pd.read_csv("sites.csv")

In [13]:
airquality.set_index("site", inplace=True)
airquality

               date       o3    no     no2    pm10   so2
site
debw004  2018-01-01  1720.60   0.4   63.10   72.80  24.8
debw004  2018-01-02  1435.40   3.5  181.40  120.00  40.7
debw004  2018-01-03  1551.60   1.8   99.00  112.00  47.7
debw004  2018-01-04  1257.20   4.8  267.40   78.60  33.8
debw004  2018-01-05  1359.10  14.7  320.30   98.60  32.8
...             ...      ...   ...     ...     ...   ...
desh058  2020-10-05   840.48   0.0  293.72  164.87   0.0
desh058  2020-10-06   870.97   0.0  193.46  128.69   0.0
desh058  2020-10-07   990.43   0.0  192.30  220.00   0.0
desh058  2020-10-08   816.75   0.0  226.63  181.46   0.0
desh058  2020-10-09   229.22   0.0   26.65   22.80   0.0

[68611 rows x 6 columns]

In [14]:
sites.set_index("site", inplace=True)
sites

                   site_name  elevation   site_type site_area state
site
debb007          Elsterwerda       89.0  background  suburban    bb
debb021      Potsdam-Zentrum       31.0  background     urban    bb
debb029       Schwedt (Oder)        5.0  industrial  suburban    bb
debb032     Eisenhüttenstadt       40.0  industrial  suburban    bb
debb044  Cottbus,Bahnhofstr.       75.0     traffic     urban    bb
...                      ...        ...         ...       ...   ...
fr82042             Damparis      210.0  industrial     rural    82
fr82043            Chatenois      213.0  industrial  suburban    82
fr82050   Lons-le-Saunier CV      261.0  background     urban    82
fr82060  Vesoul Pres Caillet      217.0  background     urban    82
fr82070      Baume-les-Dames      273.0     traffic     urban    82

[972 rows x 5 columns]

In [15]:
all = sites.join(airquality, on="site")
all

,site_name,elevation,site_type,site_area,state,date,o3,no,no2,pm10,so2
site,,,,,,,,,,,
debb007,Elsterwerda,89.0,background,suburban,bb,NaN,NaN,NaN,NaN,NaN,NaN
debb021,Potsdam-Zentrum,31.0,background,urban,bb,NaN,NaN,NaN,NaN,NaN,NaN
debb029,Schwedt (Oder),5.0,industrial,suburban,bb,NaN,NaN,NaN,NaN,NaN,NaN
debb032,Eisenhüttenstadt,40.0,industrial,suburban,bb,NaN,NaN,NaN,NaN,NaN,NaN
debb044,"Cottbus,Bahnhofstr.",75.0,traffic,urban,bb,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
fr82042,Damparis,210.0,industrial,rural,82,NaN,NaN,NaN,NaN,NaN,NaN
fr82043,Chatenois,213.0,industrial,suburban,82,NaN,NaN,NaN,NaN,NaN,NaN
fr82050,Lons-le-Saunier CV,261.0,background,urban,82,NaN,NaN,NaN,NaN,NaN,NaN
fr82060,Vesoul Pres Caillet,217.0,background,urban,82,NaN,NaN,NaN,NaN,NaN,NaN
fr82070,Baume-les-Dames,273.0,traffic,urban,82,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all.to_csv("all_data.csv")